<header>
<h1>Cadastro</h1>
</header>
<div class="content-login">
    <form action="./processacadastro.php" method="post" class="form-login">
        <label for="nome-usuario">Nome de usuário:</label>
        <input type="text" name="usuario" id="nome-usuario"><br>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email"><br>
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha"><br>
        <a href="javascript:history.back()" class="center">Voltar</a><br>
        <input type="submit" value="Cadastro">
    </form>
</div>
