<header>
<h1>Cadastro</h1>
</header>
<div class="content-login">
    <form action="assets/php/processacadastro.php" method="post" class="form-login">
        <label for="nome-usuario">Nome de usuário:</label>
        <input type="text" name="usuario" id="nome-usuario">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha">
        <a href="javascript:history.back()" class="center">Voltar</a>
        <input type="file" name="img" hidden>
        <input type="submit" value="Cadastro">
    </form>
</div>
