/* Geral */
body {
    background-color: #f4f4f4;

    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    text-align: center;
    height: 7vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.inv {
    user-select: none;
}

footer {
    display: flex;
    background-color: #333;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #444;
    color: white;
    height: 3.5vh;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    width: 140px;
    height: inherit;
}

nav a:hover {
    background-color: rgb(151, 151, 151);
}

section {
    padding: 1vh;
}

/*menu lateral e chat*/
.chat {
    display: flex;
    flex-direction: row;
}

.content {
    width: calc(100vw - 18vw);
    height: 100vh;
    flex: 1;
    /* margin-left: 18vw; */
}

.menu-lateral {
    display: flex;
    position: relative;
    background-color: #555;
    width: 18vw;
    height: 100vh;
    overflow-y: auto;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}

.menu-lateral a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin: 1px 3px;
    padding: 2px 10px 2px 2px;
    border-radius: 10px;
    overflow: hidden;
}

.menu-lateral img {
    margin-right: 10px;
}

.user .nome {
    display: flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.menu-lateral a:hover {
    background-color: rgb(151, 151, 151);
}

.sid-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.close-sid {
    display: none;
}

/* perfil e header */
.content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.header-gap {
    min-width: 100px !important;
    max-width: 200px !important;
}

.perfil {
    display: flex;
    align-items: center;
}

.perfil img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.info-perfil{
    display: flex;
    flex-direction: column;
    text-align: right   ;
    overflow: hidden;
}

.nome-perfil{
    text-wrap: nowrap;    
}

/* Chat  e header do chat*/
.container-chat {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 72.5vh;
    border: 1px solid #ccc;
    border-radius: 0px 0px 10px 10px;
}

/* aaaaaaaaaaaaaaaa aaaaaaaa aaaaa */

.content-header-chat {
    display: flex;
    background-color: #666;
    align-items: center;
    justify-content: left;
    border-radius: 10px 10px 0px 0px;
    font-size: 1.5rem;
    height: 8vh;
    padding: 0px 10px;
}

.content-header-chat img {
    margin-right: 20px;
}

/* Mensagens, hora, etc */
.mensagens {
    display: flex;
    flex: 1;
    padding: 10px;
    gap: 20px;
    overflow-y: auto;
    flex-direction: column;
}

.msg1,
.msg2 {
    display: flex;
    position: relative;
    background-color: #d9d9d9;
    color: #222;
    border-radius: 8px;
    text-align: justify;
    float: inline-end;
    max-width: 70%;
    min-width: 15%;
    padding: 10px;
    word-break: break-word;
}

.msg1 {
    margin-right: auto;
}

.msg2 {
    margin-left: auto
        /* Empurra .msg2 para a direita */
    ;
}

.horas {
    position: absolute;
    bottom: 9px;
    right: 5px;
    color: #888;
    padding: 2px 10px;
    font-size: 12px;
}

.dia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border-radius: 50px;
    min-height: 23px;
    background-color: #222;
    margin: 0px auto;
}

.scroll-down {
    z-index: 10;
    position: absolute;
    display: none;
    min-width: 50px;
    height: auto;
    color: #555;
    right: 20px;
    bottom: 100px;
}

/* Input msg e botão enviar msg */
input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.escrever {
    padding: 1px 10px 10px 10px;
    display: flex;
    flex-direction: row;
}

.escrever .msg {
    width: 100%;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 200px;
    margin: 0px auto;
}

/* Login e Cadastro */
.form-login {
    color: #333;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0px auto;
    padding-top: 30px;
}

.form-login input {
    margin-bottom: 14px;
}

.content-login {
    height: 86vh;
}

/*  Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    color: #333;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 10px 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    height: 28px;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

.form-amigos {
    float: right;
}

.form-amigos input[type="text"],
.form-amigos input[type="submit"] {
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

.form-amigos input[type="submit"] {
    width: 100px;
    background-color: #4CAF50;
    margin-left: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.form-amigos input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para a tabela de amigos */
#amigos {
    width: 100%;
    border-collapse: collapse;
}

#amigos th,
#amigos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#amigos td:first-child{
    max-width: 23vw;
}

#amigos .nome {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    max-width:inherit;
    overflow: hidden;
}
#amigos .nome p{
    text-wrap: nowrap;
}

#amigos th {
    background-color: #f2f2f2;
}

#amigos tr:nth-child(even) {
    /* Cor de fundo das linhas pares | estilo listrado*/
    background-color: #f2f2f2;
}

#amigos tr:hover {
    background-color: #ddd;
    /* Cor de fundo da linha ao passar o mouse */
}

/* Modal Configurações */
.modal-config form {
    margin-bottom: 10px;
}

.modal-config label {
    display: block;
    margin-bottom: 5px;
}

.modal-config h2 {
    margin-bottom: 10px;
}

.modal-config input {
    width: 79%;
    height: 33px;
}

.modal-config input[type="submit"] {
    width: 20%;
    height: 33px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-config input[type="submit"]:hover {
    background-color: #45a049;
}

/* Media query para responsividade em outros dispositivos */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .open-sid-menu {
        min-width: 80vw !important;
    }

    .modal-content {
        width: 100vw;
    }

    .form-login {
        width: 80vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .modal input {
        width: 60vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .menu-lateral {
        display: none;
    }

    .close-sid {
        display: block !important;
    }

    .sid-title {
        justify-content: space-between !important;
    }

    .menu-sid-button {
        display: block !important;
    }

    .open-sid-menu {
        position: absolute;
        z-index: 10;
        display: flex;
        min-width: 50vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .menu-lateral {
        width: 25vw;
    }
}