/* Geral */
body {
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 7vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.inv {
    user-select: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
}

nav {
    display: flex;
    justify-content: space-evenly;
    height: 3.5vh;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 140px;
    height: inherit;
}

section {
    padding: 1vh;
}

/*menu lateral e chat*/
#chat {
    display: flex;
    flex-direction: row;
}

.content {
    width: calc(100vw - 18vw);
    height: 100vh;
    flex: 1;
    /* margin-left: 18vw; */
}

.menu-lateral {
    display: flex;
    position: relative;
    width: 18vw;
    height: 100vh;
    overflow-y: auto;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

/* Animação para dispositivos móveis */
@keyframes deslizar {
    0% {
        left: -100vw;
        /* Início fora da tela */
    }

    100% {
        left: 0;
        /* Posição visível */
    }
}

.menu-lateral a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 1px 3px;
    padding: 2px 10px 2px 2px;
    border-radius: 10px;
    overflow: hidden;
}

.menu-lateral img {
    margin-right: 10px;
}

.user .nome {
    display: flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-lateral a:hover {
    background-color: rgb(151, 151, 151);
}

.sid-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.close-sid {
    display: none;
}

/* Balão de frases motivacionais */
.balao {
    position: absolute;
    width: 400px;
    height: 150px;
    border-radius: 40px;
    padding: 15px;
    text-align: justify;
    animation: moveLeft 13s linear infinite;
    animation-delay: 10s;
    /* Delay de 10 segundos antes de começar a animação */
}

.msg {
    height: 100%;
    font-size: large;
}

.balao .autor {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    15% {
        transform: translateX(100%);
        opacity: 0;
    }

    25% {
        transform: translateX(-100%);
        opacity: 0;
    }

    40% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* perfil e header */
.content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.header-gap {
    min-width: 100px !important;
    max-width: 200px !important;
}

.perfil {
    display: flex;
    align-items: center;
}

.perfil img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.info-perfil {
    display: flex;
    flex-direction: column;
    text-align: right;
    overflow: hidden;
}

.nome-perfil {
    text-wrap: nowrap;
}

/* Chat  e header do chat*/
.container-chat {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 72.5vh;
    border: 1px solid #ccc;
    border-radius: 0px 0px 10px 10px;
}

.content-header-chat {
    display: flex;
    background-color: #666;
    align-items: center;
    justify-content: left;
    border-radius: 10px 10px 0px 0px;
    font-size: 1.5rem;
    height: 8vh;
    padding: 0px 10px;
}

.content-header-chat img {
    margin-right: 20px;
}

/* Mensagens, hora, etc */
.mensagens {
    display: flex;
    flex: 1;
    padding: 10px;
    gap: 20px;
    overflow-y: auto;
    flex-direction: column;
}

.msg1,
.msg2 {
    display: flex;
    position: relative;
    background-color: #d9d9d9;
    color: #222;
    border-radius: 8px;
    text-align: justify;
    float: inline-end;
    max-width: 70%;
    min-width: 15%;
    padding: 10px;
    word-break: break-word;
}

.msg1 {
    margin-right: auto;
}

.msg2 {
    /* Empurra .msg2 para a direita */
    margin-left: auto;
}

.horas {
    position: absolute;
    bottom: 9px;
    right: 5px;
    color: #888;
    padding: 2px 10px;
    font-size: 12px;
}

.dia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border-radius: 50px;
    min-height: 23px;
    background-color: #222;
    margin: 0px auto;
}

.scroll-down {
    z-index: 10;
    position: absolute;
    display: none;
    min-width: 50px;
    height: auto;
    color: #555;
    right: 20px;
    bottom: 100px;
}

/* Input msg e botão enviar msg */
input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.escrever {
    padding: 1px 10px 10px 10px;
    display: flex;
    flex-direction: row;
}

.escrever .msg {
    width: 100%;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 200px;
    margin: 0px auto;
}

/* Login e Cadastro */
.form-login {
    color: #333;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0px auto;
    padding-top: 30px;
}

.form-login input {
    margin-bottom: 14px;
}

.content-login {
    height: 86vh;
}

/*  Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin: 5% auto;
    padding: 10px 20px;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    height: 28px;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

.form-amigos {
    float: right;
}

.form-amigos input[type="text"],
.form-amigos input[type="submit"] {
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

.form-amigos input[type="submit"] {
    width: 100px;
    background-color: #4CAF50;
    margin-left: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.form-amigos input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para a tabela de amigos */
#amigos {
    width: 100%;
    border-collapse: collapse;
}

#amigos th,
#amigos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#amigos td:first-child {
    max-width: 23vw;
}

#amigos .nome {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    max-width: inherit;
    overflow: hidden;
}

#amigos .nome p {
    text-wrap: nowrap;
}

#amigos th {
    background-color: #f2f2f2;
}

#amigos tr:nth-child(even) {
    /* Cor de fundo das linhas pares | estilo listrado*/
    background-color: #f2f2f2;
}

#amigos tr:hover {
    background-color: #ddd;
    /* Cor de fundo da linha ao passar o mouse */
}

/* Modal Configurações */

#modalConfig .modal{
    overflow-y: scroll;
}

#modalConfig .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#modalConfig .section-config {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#modalConfig .section-config div {
    min-width: 30%;
    min-width: 3vw;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#modalConfig .section-config div h3 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

#modalConfig .section-config div label {
    display: block;
    margin-bottom: 5px;
}

#modalConfig .section-config div input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo do switch */
#modalConfig .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#modalConfig .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#modalConfig .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

#modalConfig .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

#modalConfig input:checked+.slider {
    background-color: #04AA6D;
}

#modalConfig input:checked+.slider:before {
    transform: translateX(26px);
}

#modalConfig .section-config div button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
}


/* Media query para responsividade em outros dispositivos */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .open-sid-menu {
        animation: deslizar 0.3s ease-in-out;
        left: 0;
        min-width: 80vw !important;
    }

    .modal-content {
        width: 100vw;
    }

    .form-login {
        width: 80vw;
    }

    .balao {
        top: 230px;
        width: 80vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .modal input {
        width: 60vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .menu-lateral {
        display: none;
    }

    .close-sid {
        display: block !important;
    }

    .sid-title {
        justify-content: space-between !important;
    }

    .menu-sid-button {
        display: block !important;
    }

    .open-sid-menu {
        position: absolute;
        z-index: 10;
        display: flex;
        min-width: 50vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .menu-lateral {
        width: 25vw;
    }
}