/* Geral */
body {
    background-color: #f4f4f4;
    overflow-y: hidden;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    text-align: center;
    height: 7vh;
}

.center {
    display: flex;
    justify-content: center;
}

.img-perfil {
    width: 50px;
    height: 50px;
}

footer {
    display: flex;
    background-color: #333;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #444;
    color: white;
    height: 3.5vh;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    width: 140px;
    height: inherit;

}

nav a:hover {
    background-color: rgb(151, 151, 151);
}

section {
    padding: 1vh;
}

/*menu lateral e chat*/
.content {
    width: calc(100vw - 12vw);
    height: 100vh;
    margin-left: 12vw;
}

.menu-lateral {
    display: flex;
    position: fixed;
    background-color: #555;
    min-width: 12vw;
    height: 100vh;
    overflow-y: auto;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}

.menu-lateral a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin: 1px 3px;
    padding: 2px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    text-indent: 10px;
}

.menu-lateral a:hover {
    background-color: rgb(151, 151, 151);
}

/* perfil e header */
.content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-gap {
    width: 139px;
}

.perfil {
    display: flex;
    align-items: center;
}

.perfil img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* Chat  e header do chat*/
.container-chat {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 72.5vh;
    border: 1px solid #ccc;
    border-radius: 0px 0px 10px 10px;
    overflow-y: auto;
}

.content-header-chat {
    display: flex;
    background-color: #666;
    align-items: center;
    justify-content: left;
    border-radius: 10px 10px 0px 0px;
    font-size: 1.5rem;
    height: 8vh;
    padding: 0px 10px;
}

.content-header-chat img {
    margin-right: 20px;
}

/* Mensagens, hora, etc */
.mensagens {
    display: flex;
    flex: 1;
    padding: 10px;
    gap: 20px;
    overflow-y: auto;
    flex-direction: column;
}

.msg1,
.msg2 {
    display: flex;
    position: relative;
    background-color: #d9d9d9;
    color: #222;
    max-width: 70%;
    padding: 10px;
    border-radius: 8px;
    text-align: justify;
}

.msg2 {
    /* Empurra .msg2 para a direita */
    min-width: 70%;
    margin-left: auto;
}

.horas {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #888;
    padding: 5px 10px;
    font-size: 12px;
}

/* Input msg e botão enviar msg */
input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.escrever {
    padding: 10px;
}

.escrever .msg {
    width: 100%;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 200px;
    margin: 0px auto;
}

/* Login e Cadastro */
.form-login {
    color: #333;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0px auto;
    padding-top: 30px;
}

form {
    display: flex;
    flex-direction: row;
}

.content-login {
    height: 86vh;
}

/*  Modal */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    color: #333;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.2s;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

.aba-amigos h2 {
    margin-bottom: 20px;
    margin-right: 10px;
}

.form-amigos {
    display: flex;
    align-items: center;
}

.form-amigos input {
    float: right;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-amigos input[name="id"] {
    width: 37px;
    margin-left: 2px;
    margin-right: 10px;
}









.teste {
    position: absolute;
    color: red;
    z-index: 10000000;
}